{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

{% block html %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% block content%}
{% block title %}<div class="container"><h2>WebQ</h2><h4>Tool for Web Data Quality</h4></div>{% endblock %}

<br>
<br>
{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

<div class="container">
  <div>
    <form method="POST" action="/task2" accept-charset="UTF-8" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
<div style ="background-color: #ccff99; padding: 0 90px;">
<legend>
<p>On this page you can find the final set of documents about vaccination. For each document you can now see their <b>titles, all their ratings and tags</b>. All the ratings are between 0 and 1, where 0 is idicates low score and 1 indicates high score. </p>
</legend></div>
<br>
<legend>Click on all documents that you would consider using as a source for your article</legend>
{% set i = 0%}
{% for doc in docs %}
<div class="row"><input type="checkbox" name="check" value=" {{ doc.url }}"> <label>{{ doc.title }}</label></div>
<div class="row">
<div class="col-md-12">
<p>Source: {{doc.source}}</p>
</div>
</div>
<div class="row">

{% for x in doc.entities %}
{% if 'text' in x %}
<div class="col-md-4">{{ x['text'] }} ({{'%0.1f'| format(x['relevance']|float)}}) </div>
{% endif %}
{% endfor %}
</div>
<br>
{% set i = i + 1%}
{% set x = doc.sentiment %}

{% if doc.sentiment is not none %}
{% if doc.sentiment >0 %}
<div class="row"><div class="col-md-2"><u>Positive</u> Sentiment: {{ doc.sentiment }}</div>
{% elif doc.sentiment < 0 %}
{% set x = x*-1 %}
<div class="row"><div class="col-md-2"><u>Negative</u> Sentiment: {{ x }} </div>
{% else %}
<p>Neutral Sentiment : 0 </p>
{% endif %}
{% else %}
<p>Neutral Sentiment: 0 </p>
{% endif %}
<div class="col-md-1"> Joy {{doc.emotion['joy']}} </div><div class="col-md-1"> Anger {{doc.emotion['anger']}} </div><div class="col-md-2"> Sadness {{doc.emotion['sadness']}} </div><div class="col-md-1"> Fear {{doc.emotion['fear']}} </div><div class="col-md-2"> Disgust {{doc.emotion['disgust']}}
</div>
</div>
<br>
<div class="row">
<div class="col-md-4">
<p>Trustworthiness: {{doc.trustworthiness}}</p>
</div>
</div>
<hr>
{% endfor %}

<div class="text-center">
    <button id="submit" name="submit" class="btn btn-primary" type="submit">Submit</button>
</div>
</form>
</div>


{% endblock %}
{% endblock %}
{% endblock %}