{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

{% block html %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% block content%}
{% block title %}<div class="container"><h2>WebQ</h2><h4>Tool for Web Data Quality</h4>{% endblock %}

{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

  <div>
    <form method="POST" action="/land2" accept-charset="UTF-8" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
<legend>
<div style ="background-color: #ccff99; padding: 30px 30px 30px 30px;">
You are writing an article on the debate about <i>the <b>vaccination</b> debate triggered by the measles outbreak in Disneyland in 2015.</i><br><br/>
For each document you can now see its <b>titles, sources, all its ratings and tags</b>. All the ratings are between 0 and 1, where 0 is indicates low score and 1 indicates high score.
</div></legend>
<br>
<legend>Click on all documents that you would consider using as a source for your article</legend>
{% set i = 0%}
{% for doc in docs %}
<div class="row"><div class="col-md-12"><input type="checkbox" name="check" value=" {{ doc.url }}"> <label>{{ doc.title }}</label></div></div>
<div class="row">
<div class="col-md-12">
<p><i><span style="background-color:#ffff66;">Source:</span></i> {{doc.source}}</p>
</div>
</div>
<div class="row">
<div class="col-md-4"><i><span style="background-color:#ffff66;">Entities:</span></i></div></div>
<div class="row">
{% for x in doc.entities %}
{% if 'text' in x %}
<div class="col-md-3">{{ x['text'] }} ({{'%0.1f'| format(x['relevance']|float)}}) </div>
{% endif %}
{% endfor %}
</div>
<br/>
<div class="row"><div class="col-md-12"><i><span style="background-color:#ffff66;">Sentiment:</span></i></div></div>
<div class="row">
<div class="col-md-12">
{% set i = i + 1%}
{% set x = doc.sentiment %}
{% if doc.sentiment is not none %}
{% if doc.sentiment >0 %}
This document shows a 

{{'strongly' if doc.sentiment >0.6 else 'fairly' if doc.sentiment>0.3 else 'somewhat'}}
<u>positive</u> sentiment [{{ doc.sentiment }}].
{% elif doc.sentiment < 0 %}
{% set x = x*-1 %}
This document shows a 
{{'strongly' if doc.sentiment >0.6 else 'fairly' if doc.sentiment>0.3 else 'somewhat'}}
<u>negative</u> sentiment [{{ x }}].
{% else %}
It was not possible to compute the sentiment of this document.
{% endif %}
{% else %}
It was not possible to compute the sentiment of this document.
{% endif %}

<br/>Moreover, the document shows the following emotions.
{{'A high level of' if doc.emotion['joy']>0.6 else 'Some' if doc.emotion['joy']>0.3 else 'A bit of' if doc.emotion['joy']>0 else 'No'}}

<u>joy</u> [{{doc.emotion['joy']}}]. 
{{'A high level of' if doc.emotion['anger']>0.6 else 'Some' if doc.emotion['anger']>0.3 else 'A bit of' if doc.emotion['anger']>0 else 'No'}}
<u>anger</u> [{{doc.emotion['anger']}}] .
{{'A high level of' if doc.emotion['sadness']>0.6 else 'Some' if doc.emotion['sadness']>0.3 else 'A bit of' if doc.emotion['sadness']>0 else 'No'}}
<u>sadness</u> [{{doc.emotion['sadness']}}]. 
{{'A high level of' if doc.emotion['fear']>0.6 else 'Some' if doc.emotion['fear']>0.3 else 'A bit of' if doc.emotion['fear']>0 else 'No'}} <u>fear</u> [{{doc.emotion['fear']}}].
{{'A high level of' if doc.emotion['disgust']>0.6 else 'Some' if doc.emotion['disgust']>0.3 else 'A bit of' if doc.emotion['disgust']>0 else 'No'}} <u>disgust</u> [{{doc.emotion['disgust']}}].
</div>
</div>
<br/>
<div class="row">
<div class="col-md-4">
<p><i><span style="background-color:#ffff66;">Trustworthiness:</span></i> {{doc.trustworthiness}}</p>
</div>
</div>
<hr>
{% endfor %}
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Additional Remarks<p style="font-weight:normal">Can you motivate you selection? How informative is this information to you?</p></label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="remarks"></textarea>
  </div>
</div>

<div class="text-center">
    <button id="submit" name="submit" class="btn btn-primary" type="submit">Submit</button>
</div>
</form>
</div>


{% endblock %}
{% endblock %}
{% endblock %}