{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

{% block html %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% block content%}
{% block title %}<div class="container"><h2>WebQ</h2><h4>Tool for Web Information Quality</h4>{% endblock %}

{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

  <div>
    <form method="POST" action="/sentiment" accept-charset="UTF-8" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
<legend>
<div style ="background-color: #ccff99; padding: 30px 30px 30px 30px;">
You are writing an article on the debate about <i>the <b>vaccination</b> debate triggered by the measles outbreak in Disneyland in 2015.</i><br/><br/>
Below you can find 6 randomly selected documents (from the set of 50) on this topic. For each document we provide you with the <b>keywords describing the topic of the document</b> and, in parentheses, their corresponding <b>importance in the same document</b>. The importance score is a value between 0 and 1, where 0 indicates low importance and 1 indicates high importance in the document.
</div>
</legend>
<br>
<legend>Click on all documents that you would consider using as a source for your article</legend>
<br>
{% set i = 0%}
{% for doc in docs %}
{% set i = i + 1%}

<div class="container">
<div class="col-sm-16">
<input type="checkbox" name="check" value=" {{ doc.url }}"> 
<label><b> Document {{ i }} </b></label>
</div>
</div><div class="container">
{% for x in doc.entities %}
{% if 'text' in x %}
<div class="col-sm-3">{{ x['text'] }} ({{'%0.1f'| format(x['relevance']|float)}}) </div>

{% endif %}
{% endfor %}
</div>
<br>
<br>
<hr>
<br>
{% endfor %}
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Additional Remarks<p style="font-weight:normal">Can you motivate you selection? How informative is this information to you?</p></label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="remarks"></textarea>
  </div>
</div>

  <div class="text-center">
    <button id="submit" name="submit" class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
</div>
</div>

{% endblock %}
{% endblock %}
{% endblock %}