{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

{% block html %}
{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}
{% block body %}
{% block content%}
{% block title %}<div class="container"><h2>WebQ</h2><h4>Tool for Web Information Quality</h4>{% endblock %}
{% endblock %}
<div class="container">
<legend><div style ="background-color: #ccff99; padding:30px 30px 30px 30px;">
Welcome! Thank you for participating in our study for quality of Web data.<br/><br/>
Consider the following scenario.
Suppose you have to write an article about the <i> debate on vaccinations triggered by the measles outbreak in 2015 at Disneyland.</i><br/>
We will ask you to perform <b>2 tasks</b>.<br><br>
We selected 50 documents on this topic. <br/>
<br/>In <b> task 1</b> you will see some information about 6 of these documents, randomly selected. Based on the information proposed (e.g., the keywords contained in the document), which one(s) would you use as a source for your article?
<br/><br/>
Information about <b>task 2</b> will follow.
</div></legend>
<form action="/task1">
<div class="text-center">
<button id="submit" name="submit" class="btn btn-primary" type="submit">Start Task 1</button>
</div>
</form>
{% endblock %}
{% endblock %}
</div>
</body>
</html>
