{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

{% block html %}
{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}
{% block body %}
{% block content%}
{% block title %}<div class="container"><h2>WebQ</h2><h4>Tool for Web Information Quality</h4>{% endblock %}
{% endblock %}
<div class="container">
<legend><div style ="background-color: #ccff99; padding:30px 30px 30px 30px;">
Welcome and thank you for participating in our study on quality of Web data.<br/><br/>

The study considers the following scenario:<br/>
- Suppose you are asked to write an article about <i> debate on vaccinations triggered by the measles outbreak in 2015 at Disneyland.</i><br/>
- For this, you are asked to identify a set of reliable Web documents to serve as sources of information for your article. <br/>
- We have selected 50 documents from the Web relevant to this topic.<br/>
- In this experiment, we will present to you a number of pages with a random selection of 6 documents (from the set of 50). <br/>
- On each page you will see different criteria to help you make your choice, e.g. keywords contained in the document, the sentiment in the document, etc.<br/>
- Your goal is to select the documents you think are most reliable and motivate your choices.<br/><br/>

At the end we will ask you to reflect on your experiences during this task, and share with us how it aligns with your typical research process. 
</div></legend>
<form action="/task1">
<div class="text-center">
<button id="submit" name="submit" class="btn btn-primary" type="submit">Start Task 1</button>
</div>
</form>
{% endblock %}
{% endblock %}
</div>
</body>
</html>
