{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

{% block html %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% block content%}
{% block title %}<div class="container"><h2>WebQ </h2><h4>Tool for Web Data Quality</h4>{% endblock %}

{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

  <div>
    <form method="POST" action="/titles" accept-charset="UTF-8" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
<legend>
<div style ="background-color: #ccff99; padding: 30px 30px 30px 30px;">
You are writing an article on the debate about <i>the <b>vaccination</b> debate triggered by the measles outbreak in Disneyland in California in 2015.</i><br/><br/>
Below you can find <b>the same 6 documents as before, but now in a different order</b>. 
For each document you can now see the ratings for how <b>trustworthy the source of the document</b> is. All the ratings are between 0 and 1, where 0 indicates low trustworthiness and 1 indicates high trustworthiness.
<br>
<br/>
<i><b> Trustworthiness</b> is obtained by the <b>Web Of Trust</b> service (<a href="www.mywot.com">www.mywot.com</a>). Web of Trust aggregates scores provided by human users. So this provides an intersubjective, crowdsourced evaluation of trustworthiness. </i>
</div>
</legend>

<br>
<legend>Click on all documents that you would consider using as a source for your article</legend>
<br>
{% set i = 0%}
{% for doc in docs %}
{% set i = i + 1%}
<p><input type="checkbox" name="check" value=" {{ doc.url }}"> <label>Document {{ i +12}}</label></p>
<div class="row">
<div class="col-md-4">
<p>Trustworthiness: 
{% if doc.trustworthiness>0 %}
{{doc.trustworthiness}}</p>
{% else %}
0 / Not available </p>
{% endif %}
</div>
</div>
<hr>
{% endfor %}
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Additional Remarks<p style="font-weight:normal">Can you motivate you selection? How informative is this information to you?</p></label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="remarks"></textarea>
  </div>
</div>

<div class="text-center">
    <button id="submit" name="submit" class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
</div>

{% endblock %}
{% endblock %}
{% endblock %}